<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Windy's!</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <body>
        <main>
            <header class="main-header">
                <img id="main-border-image" src="./img/windys_please_dont_sue.png" alt="Border image with Windy's logo">
                <h1 id="main-title">Welcome to Windy's</h1>
            </header>


            <section id="burger-selection">
                <h3>Select burgers</h3>
                <p>This is where you select your burgers! Tasty!</p>
                <table>
                    <tbody>
                        <tr style="vertical-align: top; text-align: center;">
                            <th>
                                <h4>The excessively unhealthy burger</h4>
                                <p><img src="./img/excessoburger.jpg" alt="Picture of the excessively unhealthy burger" title="Picture of the excessively unhealthy burger" height="250"></p>
                                <!--Info regarding allergenes and the like-->
                                <section id="allergenes-tiny-borgar">
                                    <ul style="text-align: left">
                                        <li>Kcal : 50 000</li>
                                        <li class="allergy">If you have allergies of any kind, don't test your luck; this thing <span class="allergyHighlight">most likely has it</span></li>
                                    </ul>
                                </section>
                            </th>
                            <th>
                                <h4>The squarely burger</h4>
                                <p><img src="./img/sqr_borgar.jpg" alt="Picture of the squarely burger" title="Picture of the squarely burger" height="250"></p>
                                <!--Info regarding allergenes and the like-->
                                <section id="allergenes-tiny-borgar">
                                    <ul style="text-align: left">
                                        <li>Kcal : 400</li>
                                        <li class="allergy">Contains <span class="allergyHighlight">cow beef</span></li>
                                        <li class="allergy">Contains <span class="allergyHighlight">squares</span></li>
                                    </ul>
                                </section>
                            </th>
                            <th>
                                <h4>The teeeny tiny borgar</h4>
                                <p><img src="./img/tiny_borgar.jpg" alt="Picture of the teeny tiny borgar" title="Picture of the teeny tiny borgar" height="250"></p>
                                <!--Info regarding allergenes and the like-->
                                <section id="allergenes-tiny-borgar">
                                    <ul style="text-align: left">
                                        <li>Kcal : 5</li>
                                        <li class="allergy">Contains <span class="allergyHighlight">gluten</span></li>
                                        <li class="allergy">Contains <span class="allergyHighlight">cow beef</span></li>
                                    </ul>
                                </section>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </section>
    
            <section id="contact">
                <h3>Customer Information</h3>
                <p>This is where you provide information necessary for delivery.</p>
                <h4>Delivery information:</h4>
                <form>
                    <p>
                        <label for="name">Full name</label><br>
                        <input type="text" id="name" name="nm" required="required" placeholder="Full name" />
                    </p>
                    <p>
                        <label for="email">E-mail</label><br>
                        <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
                    </p>
                    <p>
                        <label for="street">Street</label><br>
                        <input type="text" id="street" name="st" required="required" placeholder="Street name" />
                    </p>
                    <p>
                        <label for="house">House</label><br>
                        <input type="number" id="house" name="ho" required="required" placeholder="House number" />
                    </p>
                    <p>
                        <label for="payment_options">Payment Option</label><br />
                        <select id="payment_options" name="payopt">
                            <option selected=true>Dogecoin</option>
                            <option>Vista</option>
                            <option>GrassHOPPA</option>
                            <option>Cartons of milk</option>
                        </select>
                    </p>                        
                    <label for="gender_options">Gender : </label><br />
                    <p id="gender_options">
                        <input type="radio" name="gender_selection" value="other" checked=true>Undisclosed<br>
                        <input type="radio" name="gender_selection" value="female">Female<br>
                        <input type="radio" name="gender_selection" value="male">Male
                    </p>
                </form>
                <!--This is only temporary: once the form is functional, we will put this together with the form-->
                <button type="submit" style="height: 40pt;">
                    <img src="./img/submit_form.png" alt="Picture for submit button" height="20pt"><div style="text-align: center;">Submit</div>
                </button>
            </section>
        </main>
        <hr>
        <footer>
            <!--Footer with info about the creator of the page and some other detalis-->
            <p>
                By Nicke Löfwenberg, used for the 1MD034 course lab.
            </p>
        </footer>
    </body>
</html>