@import 'https://fonts.googleapis.com/css?family=Abel|Dosis|Montserr';

body {
	margin: 0;
	padding: 0;
	font-family: 'Abel', sans-serif;
	font-size: 14pt;
}

.allergy {
    color: #ff5500;
}

.allergeneList {
	text-align: "left";
}

.allergyHighlight {
	text-transform: uppercase;
}

#burger-selection {
	/*
	background-color: black;
	color: white;
	*/
}

#contact {
	background-color: black;
	color: white;
}

button:hover{
	background-color: green; /* Note: seems to not be supported for Microsoft Edge */
	cursor: pointer;
}